<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inventory" href="/tabs/inventory">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Inventory</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add" href="/tabs/add">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
      <ion-label>Add Item</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="update" href="/tabs/update">
      <ion-icon aria-hidden="true" name="create-outline"></ion-icon>
      <ion-label>Update</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="security" href="/tabs/security">
      <ion-icon aria-hidden="true" name="shield-checkmark-outline"></ion-icon>
      <ion-label>Security</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
